body {  
    
    font-family:sans-serif;
    font-weight:bold; 
    font-size:16pt;
}

.jumbotron{
    font-family: Papyrus, fantasy;
}

h1 .text-center{
    color: purple;
}

.letterSection {
    height:210px;    
}
.statusSection{
    background:#f1f1f1;
    height:auto;
}

.side-container {
    margin-top:45px;
    margin-left:130px;
    width:170px;
    text-align:center;
}
.container-title {
    color:#6f5a2d;
}
.input-area {
    width:75px;
    height:31px;
    margin:auto;
    padding:3pt;
    border: 1px #6f5a2d solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    background:#ebe2ce;
}
#letter-input {
    border:1px #6f5a2d solid;
    width:20pt;
    font-size:14pt;
    text-align:center;
    display: inline-block;
    margin-top: -5px;
}
.guessed-letter {
    color:#792c15;
}
.wordBox-title {
    color:#6f5a2d;
    margin-top: -75px;
}

.word-box {
    width:250px;
    margin:auto;
    margin-top:25px;
    text-align:center;
}
.word-display {
    background:#ebe2ce;
    border:1px #6f5a2d solid;
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
.wins-title {
    color:#6f5a2d;
}
.wins {
    width:250px;
    margin:auto;
    margin-top: 50px;
    text-align:center;
}
.total-wins {
    background:#ebe2ce;
    border:1px #6f5a2d solid;
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
.guesses-title {
    color:#6f5a2d;
    margin-top: 75px;
}
.guesses {
    width:250px;
    margin:auto;
    text-align:center;
}
.avail-guesses {
    background:#ebe2ce;
    border:1px #6f5a2d solid;
    height:31px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}

#guesses-left {
    color:#792c15;
    width:75px;
    font-size:14pt;
    text-align:center;
    display: inline-block;
    margin-top: 10px;
}
.shown-letter {
    border-bottom: 3px #000 solid;
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}
/* Hangman Area */
.hang-container {
    margin-top:-80px;
    margin-right: 90px; 
    width:200px;
    height:205px;
    float:right;
}

.draw-section {
    width:200px;
    height:200px;
    text-align:center;
}
